zkp/go.mod
zkp/go.sum
zkp/solidity/broadcast/
zkp/solidity/cache/
zkp/solidity/out/
zkp/solidity/test/Verifier.t.sol
go/go.mod
go/go.sum
go/output/proving_key.bin
go/output/public_input.bin
go/output/public_input.json
go/output/scs.bin
go/output/verifying_key.bin
go/output/witness.bin
go/output/witness.json

